<div class="jumbotron">
<%= form_for @item do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <h2 class="small"><%= f.label :title %>:</h2> <%= f.text_field :title, :class => "form-control" %>
  </div><br>
  <div class="form-group">
    <h2 class="small"><%= f.label :description %>:</h2> <%= f.text_area :description, :class => "form-control"  %>
  </div><br>
    <%= f.submit :class => "btn btn-primary" %>
<% end %>
</div>
