<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <div class="row well well-lg">
    <div class="col-md-6 col-md-offset-3"><h1>List of items<h1></div>
  </div>
</div>
<div class="col-xs-9">
<script>
  function tableClick(row) {
    if ($("a#row"+row).css("text-decoration") == "none") {
      console.log($("a#row"+row).css("text-decoration"));
      console.log("Found undecorated link!");
      $("a#row"+row).css("text-decoration", "line-through");
    } else { 
      console.log($("a#row"+row).css("text-decoration"));
      console.log("Found decorated link!");
      $("a#row"+row).css("text-decoration", "none");
    }
  }
  function totalClick(){
    $('.show-everything').on('click', function() {
      $('a').attr("display", "inline");
    });
  }
</script>
<table class="table-striped table-responsive center-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Complete?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td class="warning"><%= link_to item.title, edit_item_path(item), :id => "row#{item.id}"%></td>
        <td><%= check_box_tag(1, 1, item.is_complete, :onclick=>"tableClick(#{item.id})") %></td>
        <td><%= link_to 'Show', item %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Item', new_item_path %>
</div>
