<!DOCTYPE html>
<html lang="en">
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lists</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
  </head>
  <body>
	<div class="container-fluid">
    <div class="row">
        <%= yield %>
	  </div>
	</div>
	<div class="footer">
	  You can contact the author, Hasan Diwan, by <a href="mailto:hasandiwan+lists@gmail.com?subject=lists+feedback">clicking here</a>, by leaving a comment on <a href="http://www.prolificprogrammer.com">his blog</a>, or <a href="http://twitter.com/hdiwan">tweeting @hdiwan</a>.
	</div>
  </body>
</html>
